<!DOCTYPE HTML>
<html ng-app="tomatoTable">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="resources/vendor/css/lib.min.css">
</head>
<body>
<div ng-controller="TomatoData" class="container">

    <form name="form" ng-submit="add()" class="form-inline">
        <div class="form-group">
            <label>Size: </label> <input type="text" ng-model="size" name="size" class="form-control" ng-pattern="/^[1-9]\d*$/"/>
        <button class="btn btn-info" ng-disabled="form.$invalid" type=”submit”>Refresh data</button>
        </div>
        <div ng-show="form.size.$dirty && form.size.$invalid">
            <p class="text-danger" ng-show="form.size.$error.pattern">Invalid input</p>
        </div>
    </form>

    <table class="table table-hover">
        <th>
        <tr>
            <th>Provider</th>
            <th>Tomatoes</th>
            <th>Sales Date</th>
        </tr>
        </th>
        <tbody>
        <tr ng-repeat="row in sales">
            <td>{{row.provider}}</td>
            <td>{{row.size}}</td>
            <td>{{row.date | date: 'dd.MM.yyyy'}}</td>
        </tr>
        </tbody>
    </table>
</div>


<script src="resources/vendor/js/lib.min.js"></script>
<script src="resources/app.js"></script>
<script>
    $.material.init()
</script>

</body>
</html>